{% extends 'layout.twig' %}

{% block body %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">   
            <div class="card mb-5">
                <div class="card-body">     
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width:10%">#</th>
                                <th style="width:60%">Title</th>
                                <th style="width:15%"></th>
                                <th style="width:15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                            <tr>
                                <th scope="row">{{ article['$'].id }}</th>
                                <td>{{ article.title }}</td>
                                <td><a href="/edit/{{ article['$'].id }}" class="btn btn-secondary btn-sm"><i class="fas fa-pen-square"></i> Edit</a></td>
                                <td><a href="/delete/{{ article['$'].id }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <a href="/create" class="btn btn-lg btn-primary">Create new</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}