<div class="sidebar sticky-top">
    <div class="card">
        <div class="card-header">
            Shopping Cart
        </div>
        <div class="card-body">
            <ul id="product-list"></ul>
        </div>
        <div class="card-footer text-right">
            Total: <span id="total">0</span>
        </div>
    </div>
</div>