<footer>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{ title }} <i class="fas fa-plane"></i></h2>
                <p>2019. Travel blog by Maura Tangara. 
                    <br><a href="mailto:maura.tangara@gmail.com"><i class="fas fa-envelope"></i> maura.tangara@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>