{% extends 'layout.twig' %}

{% block body %}
    <section class="intro">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-9">
                    <h1>{{ intro }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="articles">
        <div class="container">
            <div class="row">
                {% for article in articles %}
                <div class="article col-md-8 mb-4">
                    <img src="https://placeimg.com/730/400/nature" class="img-fluid mb-3">
                    <h3>{{ article.title }}</h3>
                    <div><small><strong>Date: {{ article.date }}</strong></small></div>
                    {{ article.body }}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}