{% extends 'layout.twig' %}

{% block body %}
    <section class="intro">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-9">
                    <h1>{{ intro }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="articles">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mb-4">
                    <img src="https://placeimg.com/730/400/nature" class="img-fluid mb-3">
                    <h3>Trip to Africa</h3>
                    <div><small><strong>Date: October 2019</strong></small></div>
                    <p>Africa is the world's second largest and second most-populous continent. At about 30.3 million km² including adjacent islands, it covers 6% of Earth's total surface area and 20% of its land area. With 1.2 billion people as of 2016, it accounts for about 16% of the world's human population.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}