{% extends 'layout.twig' %}

{% block body %}
    <section class="intro">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-9">
                    <h1>{{ intro }}</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}