<div class="sidebar sticky-top text-center">
    <img src="/images/maura-photo.jpg" class="profile-photo">
    <a class="btn btn-large btn-primary mb-2" href="https://www.instagram.com/mauracarola/" target="_blank">
        <i class="fab fa-instagram"></i> Instagram
    </a>
    <br>
    <a class="btn btn-large btn-primary mb-2" href="https://www.linkedin.com/in/mauracarola/" target="_blank">
        <i class="fab fa-linkedin"></i> Linkedin
    </a>
    <br>
    <a class="btn btn-large btn-primary mb-2" href="https://github.com/Mauren777/" target="_blank">
        <i class="fab fa-github"></i> Github
    </a>
</div>