{% extends 'layout.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <section class="intro">
                <h1>Travel Tips</h1>
            </section>          
            <section class="articles">
                {% for tip in tips %}
                <div class="article mb-5">
                    <img src="{{ tip.image }}" alt="{{ tip.title }}" class="img-fluid mb-3">
                    <h3>{{ tip.title }}</h3>
                    {{ tip.body }}
                    <hr>
                </div>
                {% endfor %}
            </section>
        </div>
        <div class="col-md-4">
            {% include 'sidebar.twig' %}
        </div>
    </div>
</div>
{% endblock %}